body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container-a {
    display: flex;
    flex-flow: column;
    height: 90vw;
    width: 90vw;
}

#container-b {
    display: flex;
    flex-flow: column;
    height: 90vh;
    width: 90vh;
}

.row {
    display: flex;
    flex: 1;
}
div > div > div {   
    flex: 1;
    background-color: white;
    border: 1px;
    border-style: solid;
    border-color: black;
}